{% extends 'base.html'%}

{% block body %}

<form id="myForm" action="/" method="post">
    <label for="main_area">Choose a Practice Area:</label>
        <select name="main_area" id="main_area">
            <option id="a" name="main_area" value=''>Select the practice area</option>
            <option id="a" name="main_area" value=''>other</option>
            {% for i in areas %}
            <option id="main_area" name="main_area" value='{{i}}'>{{i}}</option>
            {%endfor%}
        </select>
        <select id="sub_area" name="sub_area">
            <option id="a" name="sub_area" value=''>Select the sub practice area</option>
        </select>
        <br>
        <label for="question_count">Choose a number:</label>
        <select name="question_count">
            {% for i in range(10,25) %}
            <option name="question_count" value={{i}}>{{i}}</option>
            {%endfor%}
        </select>
        <button id="submit" type="submit" name="submit" value="submit">GET</button>
</form>

{% endblock %}